# Ignore the virtual environment
myenv/

# Ignore media files (user uploads)
media/

# Ignore large data files
data/

# Ignore video files
Reel Videos/


# Optionally, ignore other large or unnecessary files
test.py

